/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables';
@import './mixins';

body{
    margin:0px;
}

.modal-overlay{
    opacity: 0;
    pointer-events:none;
    background:$color-black;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:fixed;
    z-index:5;
    @include transition(opacity 500ms ease);
    &.show{
        opacity:0.3;
        pointer-events:all;
        @include transition(opacity 500ms ease);
    }
}

.side-menu{
    width:300px;
    height:100%;
    right:-300px;
    top:0;
    position:fixed;
    background: $color-white;
    z-index:6;
    @include transition(right 500ms ease);
    &.show{
        right:0;
        @include transition(right 500ms ease);
    }
}

.filter-form{
    width:100%;
    height:100%;
    padding:1em;
    button{
        margin-top:8px;
    }
    tag-input{
        margin-bottom: 16px;
        input{
            padding:0px !important;
            &::placeholder {
                color: rgba(0,0,0,.54);
            }
            &:-ms-input-placeholder { 
                color: rgba(0,0,0,.54);;
            }
            &::-ms-input-placeholder {
                color: rgba(0,0,0,.54);;
            }
        }
    }
}


/*--- the heat map module ----*/
heat-map {
    position:relative;
    display:inline-block;

    .map-container{
        background: #aadaff;
        max-width: 100%;
        .country{
            opacity:1;
            @include transition(opacity 500ms ease);
            &:hover{
                opacity:0.8;
                cursor: pointer;
                @include transition(opacity 500ms ease);
            }
        }
        .country-name{
            font-family: Roboto,"Helvetica Neue",sans-serif;
            opacity:0.2;
            pointer-events:none;
        }
        .province{
            opacity:0.2;
        }
    }
    .loader{
        z-index: 100;
        width: 100%;
        height: 100%;
        position: absolute;
        background: white;
        opacity: 0;
        top:0;
        left:0;
        pointer-events:none;
        @include transition(opacity 500ms ease);
        &.show{
            opacity:0.4;
            pointer-events:all;
            @include transition(opacity 500ms ease);
        }
    }
}

#page-container{
    .inner-container{
        padding: 0 1rem;
        h1,h2,h3{
            font-family: Roboto, 'Arial', 'Helvetica';
            color: $color-dark-grey;
        }

    }
    
}

.widget-container{
    &.geotag-widget{
        .geotag-meter{
            background:$color-light-grey;
            width:100%;
            height:50px;
            .tagged{
                background:#00bf9a;
                padding-top:4px;
                height:100%;
                
                text-align:center;
                @include transition(all 500ms ease);
            }
            .untagged{
                padding-top:4px;
                text-align:center;
                height:100%;
                @include transition(all 500ms ease);
            }
        }
    }
}
